/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: 'Noto Sans';
}
p {
  font-size: 14px;
  line-height: 22px;
  color: #000;
}
@media (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 28px;
  }
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
.section {
  padding-top: 28px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 70px;
    padding-bottom: 90px;
  }
}
.section--bottom-line {
  border-bottom: 1px solid #e9eff3;
}
.section--bg-laptop {
  background-repeat: no-repeat;
  background-position: right 70%;
}
@media (min-width: 1500px) {
  .section--bg-laptop {
    background-image: url('../img/bg/laptop.png');
  }
}
.section--bg-gear {
  background-repeat: no-repeat;
  background-position: left 55%;
}
@media (min-width: 1500px) {
  .section--bg-gear {
    background-image: url('../img/bg/gear.png');
  }
}
.section--bg-cloud {
  background-repeat: no-repeat;
  background-position: right 70%;
}
@media (min-width: 1500px) {
  .section--bg-cloud {
    background-image: url('../img/bg/cloud.png');
  }
}
.section--padding-smaller {
  padding-top: 26px;
  padding-bottom: 48px;
}
@media (min-width: 768px) {
  .section--padding-smaller {
    padding-top: 41px;
    padding-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .section--padding-smaller {
    padding-top: 62px;
    padding-bottom: 67px;
  }
}
.heading {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 8px;
  color: #0052c2;
}
@media (min-width: 768px) {
  .heading {
    font-size: 42px;
    margin: 0 0 18px;
  }
}
.heading--medium {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
  margin: 23px 0 20px;
}
.heading--center {
  text-align: center;
}
.heading--white {
  color: #FFF;
}
.heading--padding-top {
  padding-top: 12px;
}
.definition-list {
  margin: 0  0 43px;
  padding: 0;
  list-style-type: none;
}
.definition-list .definition-list__item {
  margin: 0 0 13px;
  padding: 0;
}
.definition-list .definition-list__def {
  font-size: 14px;
  font-weight: 700;
  color: #0052c2;
  text-transform: uppercase;
  line-height: 26px;
}
.definition-list .definition-list__desc {
  font-size: 14px;
  line-height: 26;
}
@media (min-width: 768px) {
  .definition-list .definition-list__desc {
    font-size: 16px;
  }
}
.filter-block {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #CECECE;
}
@media (min-width: 768px) {
  .filter-block {
    padding-top: 8px;
    margin-bottom: 56px;
  }
}
.filter-block .filter-block__block {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
.filter-block .filter-block__element {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  display: block;
}
.filter-block .filter-block__element:last-child {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .filter-block .filter-block__element {
    margin-bottom: 0;
    margin-right: 0px;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .filter-block .filter-block__element {
    margin-right: 16px;
  }
  .filter-block .filter-block__element:last-child {
    margin-right: 0;
  }
}
.filter-block .filter-block__button {
  display: inline-block;
  padding: 7px 30px 8px;
  cursor: pointer;
}
.filter-block .filter-block__button:hover {
  color: #000;
}
@media (min-width: 768px) {
  .filter-block .filter-block__button {
    padding: 12px 30px 15px;
  }
  .filter-block .filter-block__button:hover {
    color: #000;
  }
}
.filter-block .filter-block__button--active {
  padding: 5px 23px 6px;
  border: 2px solid #0052c2;
  color: #000;
}
@media (min-width: 768px) {
  .filter-block .filter-block__button--active {
    padding: 10px 28px 13px;
  }
}
#portfolio-projects {
  text-align: center;
}
@media (min-width: 768px) {
  #portfolio-projects {
    text-align: left;
  }
}
#portfolio-projects .mix {
  display: none;
  text-align: left;
}
.portfolio-item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 360px;
  outline: none;
}
.portfolio-item--last {
  margin-bottom: 0;
}
.portfolio-item__image {
  position: relative;
  display: block;
  margin-bottom: 19px;
  background-image: url("../img/placeholders/project_placeholder.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 190px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .portfolio-item__image {
    min-height: 150px;
    height: 150px;
    overflow: hidden;
  }
}
@media (min-width: 992px) {
  .portfolio-item__image {
    height: 200px;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__image {
    margin-bottom: 16px;
    height: 250px;
  }
}
.portfolio-item__image:hover .portfolio-item__image__hover {
  color: #FFF;
  display: block;
  top: 0%;
}
.portfolio-item__image__hover {
  display: block;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 60px;
  font-size: 26px;
  text-align: center;
  color: #FFF;
  background-color: rgba(0, 82, 194, 0.9);
  -webkit-transition: top 0.5s ease-out;
  -moz-transition: top 0.5s ease-out;
  -ms-transition: top 0.5s ease-out;
  -o-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
}
.portfolio-item__image__hover .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-bottom: 16px;
  font-size: 64px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .portfolio-item__image__hover .fa {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__image__hover .fa {
    font-size: 64px;
    position: static;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
.portfolio-item__image__hover span {
  display: none;
}
@media (min-width: 1200px) {
  .portfolio-item__image__hover span {
    display: inline-block;
  }
}
.portfolio-item__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .portfolio-item__title {
    font-size: 24px;
  }
}
.portfolio-item__title a {
  text-decoration: none;
  color: #000;
}
.portfolio-item__title a:hover,
.portfolio-item__title a:active,
.portfolio-item__title a:active {
  color: #0052c2;
  text-decoration: none;
}
@media (min-width: 992px) {
  .portfolio-item__title a:hover,
  .portfolio-item__title a:active,
  .portfolio-item__title a:active {
    border-bottom: 1px dotted #0052c2;
  }
}
@media (min-width: 992px) {
  .portfolio-item__title a {
    border-bottom: 1px dotted #000;
  }
}
.portfolio-item__descr {
  font-size: 14px;
}
@media (min-width: 992px) {
  .portfolio-item__descr {
    font-size: 16px;
    line-height: 24px;
  }
}
.social-icons {
  padding-top: 19px;
  font-size: 32px;
  color: #FFF;
}
.social-icons .fa {
  margin-right: 30px;
  margin-bottom: 20px;
}
.social-icons .fa:last-child {
  margin-right: 0;
}
.social-icons a {
  text-decoration: none;
  border-bottom: none!important;
}
.contact-form {
  outline: none!important;
}
.contact-form__input {
  outline: none!important;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 21px 5px;
  border: none;
  border: 3px solid #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: #00599A;
  background-color: #FFF;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: border-color 0.3s ease-in;
  -ms-transition: border-color 0.3s ease-in;
  -o-transition: border-color 0.3s ease-in;
  transition: border-color 0.3s ease-in;
}
.contact-form__input:hover,
.contact-form__input:focus,
.contact-form__input:active {
  outline: none!important;
  border: 3px solid #a2d1f4;
}
.contact-form__textarea {
  width: 100%;
  height: 128px;
  margin-bottom: 10px;
  padding: 5px 21px 5px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: #00599A;
  background-color: #FFF;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  outline: none!important;
  border: 3px solid #fff;
  -webkit-transition: border-color 0.3s ease-in;
  -moz-transition: border-color 0.3s ease-in;
  -ms-transition: border-color 0.3s ease-in;
  -o-transition: border-color 0.3s ease-in;
  transition: border-color 0.3s ease-in;
}
.contact-form__textarea:hover,
.contact-form__textarea:focus,
.contact-form__textarea:active {
  outline: none!important;
  border: 3px solid #a2d1f4;
}
@media (min-width: 1200px) {
  .contact-form__bg-pencil {
    position: relative;
    display: block;
  }
  .contact-form__bg-pencil:after {
    content: "";
    position: absolute;
    display: block;
    left: 75%;
    top: 75%;
    width: 203px;
    height: 153px;
    background-image: url("../img/bg/pencil.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
}
.contact-form__submit {
  width: 100%;
  display: block;
  outline: none!important;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 47px 12px;
  color: #FFF;
  border: 4px solid #fff;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.contact-form__submit:hover,
.contact-form__submit:focus {
  outline: none!important;
  color: #065a97;
  background-color: #FFF;
  border-color: #FFF;
}
.contact-form__submit:active {
  outline: none!important;
  color: #ffe400;
  background-color: transparent;
  border-color: #ffe400;
}
@media (min-width: 768px) {
  .contact-form__submit {
    font-size: 20px;
    display: inline-block;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .contact-form__submit {
    font-size: 22px;
  }
}
.contact-form__input--col-6 {
  float: left;
  width: 49%;
  margin-right: 2%;
}
.contact-form__input--col-6:last-of-type {
  margin-right: 0;
}
label.error {
  position: relative;
  background-color: #c62828;
  display: block;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #FFF;
  padding: 5px 15px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 2px;
}
label.error:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20px;
  margin-left: -12px;
  width: 0;
  height: 0;
  border-bottom: 12px solid #c62828;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
.contact-form__success {
  background-color: #FFF;
  position: relative;
  display: block;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #43a047;
  padding: 5px 15px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 2px;
}
.button {
  display: inline-block;
  height: 48px;
  padding: 7px 26px 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  color: #FFF;
  background-color: #0052c2;
  box-shadow: 0px 3px 15px 0px #0052c2;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.button .fa {
  font-size: 18px;
  margin-right: 8px;
}
.button:hover {
  outline: none!important;
  color: #065a97;
  background-color: #FFF;
  border-color: #FFF;
}
.button:active {
  outline: none!important;
  color: #ffe400;
  background: #065a97;
  border-color: #ffe400;
}
.button:focus {
  color: #FFF;
}
a.button {
  text-decoration: none;
}
.navigation {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  top: 51px;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .navigation {
    position: absolute;
  }
}
@media (min-width: 1200px) {
  .navigation {
    font-size: 22px;
  }
}
.navigation ul.navigation__list {
  display: none;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(11, 81, 136, 0.95);
}
@media (min-width: 768px) {
  .navigation ul.navigation__list {
    display: block;
    position: absolute;
  }
}
.navigation ul.navigation__list--open {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.navigation ul.navigation__list li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .navigation ul.navigation__list li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 80px;
  }
  .navigation ul.navigation__list li:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .navigation ul.navigation__list li {
    margin-right: 100px;
  }
}
.navigation a {
  color: #FFF;
  text-decoration: none;
}
.navigation a:hover,
.navigation a:focus,
.navigation a:active {
  color: #ffe400;
}
.navigation__toggle {
  display: block;
  position: absolute;
  top: 15px;
  right: 16px;
  font-size: 38px;
  z-index: 2;
}
.navigation__toggle i.fa.fa-bars:hover {
  color: #e4d3bf;
}
@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}
.navigation__toggle--fixed {
  position: fixed;
}
.user-photo {
  overflow: hidden;
  width: 110px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
  -webkit-border-radius: 115px;
  border-radius: 115px;
  background-image: url("../img/placeholders/user-avatar-placeholder-small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.user-photo--big {
  max-width: 100%;
  height: auto;
  margin-top: 16px;
  background-image: url("../img/placeholders/user-avatar-placeholder-big.jpg");
}
@media (min-width: 1200px) {
  .user-photo--big {
    width: 205px;
    height: 205px;
  }
}
.user-photo--shadow {
  box-shadow: 0px 0px 40px 0px #e4d3bf;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  position: absolute;
  bottom: -4rem;
  left: 50%;
  margin-left: -12px;
  margin-top: 125px;
  cursor: pointer;
}
@media (min-width: 768px) {
  a.mouse_scroll {
    bottom: 2.4rem;
  }
}
.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}
.unu {
  margin-top: 1px;
}
.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}
.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.mouse {
  height: 42px;
  width: 24px;
  display: none;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}
@media (min-width: 768px) {
  .mouse {
    display: block;
  }
}
.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
.cmn-toggle-switch {
  display: block;
  position: absolute;
  top: 23px;
  right: 11px;
  z-index: 5;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 45px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media (min-width: 768px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 19px;
  left: 7px;
  right: 5px;
  height: 5px;
  background: #fff;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 12;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -11px;
}
.cmn-toggle-switch span::after {
  bottom: -11px;
}
.cmn-toggle-switch__htx {
  background: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state*/
.cmn-toggle-switch__htx.active {
  position: fixed;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: -3px;
  height: 9px;
  width: 28px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  height: 9px;
  width: 28px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
.header {
  position: relative;
  display: table;
  width: 100%;
  color: #FFF;
  height: 390px;
  background-color: #1D6DAC;
  background-image: url("../img/bg/bg-10.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
@media (min-width: 768px) {
  .header {
    height: 560px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 800px;
  }
}
.header__title {
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 20px;
  text-shadow: 0px 0px 40px #e4d3bf;
}
@media (min-width: 768px) {
  .header__title {
    margin-top: 40px;
    margin-bottom: 14;
    font-size: 42px;
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 56px;
  }
}
.header__subtitle {
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0px 0px 40px #e4d3bf;
  margin: 0;
}
@media (min-width: 768px) {
  .header__subtitle {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .header__subtitle {
    font-size: 26px;
  }
}
.header__inner {
  display: table-cell;
  vertical-align: middle;
  padding-top: 51px;
  padding-bottom: 60px;
}
.header__centered-content {
  display: inline-block;
  margin-top: -73px;
}
@media (min-width: 768px) {
  .header__centered-content {
    margin-top: -13px;
  }
}
@media (min-width: 1200px) {
  .header__centered-content {
    margin-top: -150px;
  }
}
.contacts {
  color: #FFF;
  background-color: #065a97;
}
.contacts p {
  color: #FFF;
}
.contacts a {
  margin: 0;
  padding: 0;
  color: #FFF;
  text-decoration: none;
  border-bottom: 1px dotted;
  cursor: pointer;
}
.contacts a:hover,
.contacts a:focus,
.contacts a:active {
  color: #ffe400;
  border-bottom: 1px dotted #ffe400;
}
.contacts-list {
  padding: 0;
  margin: 0;
}
.contacts-list__item {
  padding-bottom: 22px;
  list-style-type: none;
}
.contacts__descr {
  font-size: 16px;
  line-height: 28px;
  color: #FFF;
  margin-bottom: 30px;
}
.contacts-list__title {
  font-size: 16px;
  line-height: 28px;
  color: #A2D1F4;
  text-transform: uppercase;
}
.copyright {
  background-color: #003f6d;
  padding: 33px 0;
}
.copyright p {
  color: #5e92b9;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 6px;
}
.copyright a {
  color: #5e92b9;
  font-size: 14px;
  line-height: 26px;
  border-bottom: 1px solid;
  text-decoration: none;
}
.copyright a:hover {
  color: #ffe400;
}
.copyright p.copyright__label {
  font-size: 16px;
  color: #82B3D7;
}
.copyright p:last-child {
  margin-bottom: 0;
}
