.navigation {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
.navigation ul {
  margin: 0;
  padding: 0;
}
.navigation ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  margin-right: 100px;
}
.navigation ul li:last-child {
  margin-right: 0;
}
.navigation a {
  color: #FFF;
  text-decoration: none;
}
.navigation a:hover,
.navigation a:focus,
.navigation a:active {
  color: #FFF;
}
