.section {
  padding-top: 25px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 70px;
    padding-bottom: 90px;
  }
}
.section--bottom-line {
  border-bottom: 1px solid #e9eff3;
}
.section--bg-laptop {
  background-repeat: no-repeat;
  background-position: right 70%;
}
@media (min-width: 1500px) {
  .section--bg-laptop {
    background-image: url('../img/bg/laptop.png');
  }
}
.section--bg-gear {
  background-repeat: no-repeat;
  background-position: left 55%;
}
@media (min-width: 1500px) {
  .section--bg-gear {
    background-image: url('../img/bg/gear.png');
  }
}
.section--bg-cloud {
  background-repeat: no-repeat;
  background-position: right 70%;
}
@media (min-width: 1500px) {
  .section--bg-cloud {
    background-image: url('../img/bg/cloud.png');
  }
}
.section--padding-smaller {
  padding-top: 26px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .section--padding-smaller {
    padding-top: 41px;
    padding-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .section--padding-smaller {
    padding-top: 62px;
    padding-bottom: 67px;
  }
}
