.social-icons {
  padding-top: 19px;
  font-size: 32px;
  color: #FFF;
}
.social-icons .fa {
  margin-right: 30px;
  margin-bottom: 20px;
  -webkit-transition: color 0.4s ease-in;
  -moz-transition: color 0.4s ease-in;
  -ms-transition: color 0.4s ease-in;
  -o-transition: color 0.4s ease-in;
  transition: color 0.4s ease-in;
}
.social-icons .fa:last-child {
  margin-right: 0;
}
.social-icons a {
  text-decoration: none;
  border-bottom: none!important;
}
